footer#footer {
    background: $primary;
    color: $grey;
    margin-top: 60px;

    > div.prefooter {
        font-size: 0.9rem;
        padding: 30px 0;

        .container {
            .row {
                grid-row-gap: 30px;
            }

            h3.widget-title {
                display: inline-block;
                color: $lightGrey;
                margin: 0 0 10px;

                font-size: $fontSizeText;
            }

            ul {
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    word-break: break-word;
                    margin-bottom: 4px;
                }
            }

            p {
                margin-top: 0;
                margin-bottom: 10px;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            a {
                color: $lightGrey;

                &:hover {
                    color: $accent;
                }
            }
        }
    }

    > div.copyright {
        background: darken($primary, 8%);
        font-weight: $fontWeightBold;
        text-align: center;
        padding: $defaultPadding;

        p {
            color: $grey;
            font-size: 0.8rem;
            margin: 0;

            a {
                color: $grey;

                &:hover {
                    color: $accent;
                    text-decoration: none;
                }
            }
        }
    }

}