header#header {
    div.topbar {
        height: $topbarHeight;
        background: $primary;
        position: fixed;
        top: 0;
        width: 100%;

        @include respond-to(xs) {
            display: none;
        }

        div.socials {
            @include socials($topbarHeight);
        }
    }

    div.logo-menu-wrapper {
        background: #fff;

        > .logo-menu-constrainer {
            @include contain();

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;

            height: $navBarHeight;
        }

        div.logo {
            padding: 5px 0;

            img {
                width: auto;
                height: $navBarHeight - 10px;
                object-fit: contain;
            }
        }

        div.menu-toggler {
            cursor: pointer;
            align-self: center;
            padding: 5px;

            display: block;
            @include respond-to(from-sm) {
                display: none;
            }
        }

        div.menu {
            height: $navBarHeight;
            font-size: $fontSizeNav;

            display: none;
            @include respond-to(from-sm) {
                display: block;
            }

            > ul {
                padding: 0;
                margin: 0;
                list-style: none;
                height: $navBarHeight;

                li {
                    display: inline-block;
                    position: relative;

                    &.menu-item-has-children {
                        &::after {
                            cursor: pointer;
                            @include fa_icon('\f107');
                            position: absolute;
                            top: 19px;
                            right: 5px;
                            color: $primary;
                        }

                        a {
                            padding-right: 25px;
                        }

                        + li {
                            &:not(.menu-item-has-children) {
                                a {
                                    padding-right: 10px;
                                }
                            }
                        }

                        &.hover {
                            background: $navBarCurrentBackground;

                            >a {
                                border-bottom: 1px solid $lightGrey;
                            }
                        }
                    }

                    &.current-menu-parent {
                        background: $navBarCurrentBackground;
                    }

                    a {
                        display: block;
                        height: $navBarHeight;
                        line-height: $navBarHeight;
                        color: $primary;
                        font-size: 1em;
                        font-weight: $fontWeightMedium;
                        padding: 0 15px;

                        &:hover {
                            text-decoration: none;
                        }

                        &:not([href="#"]) {
                            &:hover {
                                color: $accent;
                            }
                        }
                    }


                    &.current-menu-item {
                        >a {
                            color: $accent;
                        }
                    }

                    ul.sub-menu {
                        display: none;
                        list-style: none;
                        position: absolute;
                        z-index: 1;
                        right: - #{$borderRadius};
                        width: 200px;
                        margin: 0;
                        padding: 0;
                        top: 80px;
                        border-radius: $borderRadius;
                        background: #fff;
                        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.30);

                        li {
                            overflow: hidden;

                            &:first-child {
                                border-top-left-radius: $borderRadius;
                                border-top-right-radius: $borderRadius;
                            }

                            &:last-child {
                                border-bottom-left-radius: $borderRadius;
                                border-bottom-right-radius: $borderRadius;
                            }

                            &.menu-item-has-children {
                                &::after {
                                    top: 11px;
                                    right: 10px;
                                }
                            }

                            &.open {
                                a {
                                    background-color: #f5f5f5;
                                }
                            }

                            display: block;
                            position: relative;

                            a {
                                display: block;
                                padding: 10px;
                                height: auto;
                                line-height: inherit;
                                font-size: 0.9em;

                                &:hover {
                                    text-decoration: none;
                                    background-color: #f5f5f5;
                                }
                            }

                            // all sub sub menus
                            ul.sub-menu {
                                position: relative;
                                top: 0;
                                left: 0;
                                border-top: 1px solid #ddd;
                                border-bottom: 1px solid #ddd;
                                background-color: #eee;
                                padding-left: 10px;
                                border-radius: 0;
                                box-shadow: none;

                                li {
                                    a {
                                        font-size: 0.8em;
                                        padding: 10px 10px 10px 15px;

                                        &:hover {
                                            background-color: inherit;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        position: fixed;
        top: 0;
        left: 0;
        height: $navBarHeight;
        width: 100%;
        z-index: 10;
        border-bottom: 1px solid #ddd;
        @include _transition(all 0.3s);

        @include respond-to(from-sm) {
            top: 30px;
        }

        &.scrolling {
            @include respond-to(from-sm) {
                background: #fff;
                top: 0;
                box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
                border-bottom: 1px solid transparent;
            }
        }
    }

    > img.main-logo {
        @include respond-to(xs) {
            display: none;
        }

        display: block;
        max-width: 540px;
        margin: #{$navBarHeight + $topbarHeight + 20px} auto 0;
    }

    > div.sidebar {
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 20;
        top: 0;
        right: -100%;
        background-color: #fff;
        overflow-x: hidden;
        @include _transition(right 0.4s);

        > h1 {
            width: 100%;
            height: $navBarHeight;
            line-height: $navBarHeight;
            margin: 0;
            padding-top: 2px; // slight offset to fix lining up
            padding-left: 20px;
            padding-right: 50px;
            font-size: 15px;
            background-color: $accent;
            border-bottom: none;
        }

        &.open {
            right: 0;

            > div.topbar {
                right: 0;
            }
        }

        div.menu-toggler {
            position: absolute;
            top: 0;
            right: 0;
            padding-left: 20px;
            padding-right: 20px;
            height: $navBarHeight;
            line-height: $navBarHeight;
            cursor: pointer;
        }

        > div.menu {
            top: 59px; // 1px border
            width: 100%;
            overflow: scroll;
            border-top: 1px solid $lightGrey;

            >ul {
                padding: 0;
                margin: 0;
                list-style: none;

                >li {
                    &:hover {
                        >a {
                            text-decoration: none !important;
                            background-color: #f5f5f5;
                        }
                    }
                }

                li {
                    position: relative;

                    a {
                        display: block;
                        padding: 10px;
                        color: $primary;
                        font-size: 13px;
                        font-weight: $fontWeightRegular;
                    }

                    &.menu-item-has-children {
                        &::after {
                            @include fa_icon('\f107');
                            position: absolute;
                            top: 10px;
                            right: 10px;
                            color: $primary;
                        }
                    }

                    &.current-menu-item {
                        >a {
                            color: $accent;
                        }
                    }

                    ul.sub-menu {
                        list-style: none;
                        display: none;
                        margin: 0;
                        padding: 0 0 0 15px;

                        li {
                            position: relative;

                            a {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }

        > div.topbar {
            @include _transition(right 0.4s);
            height: $topbarHeight;
            background: $accent;
            position: fixed;
            bottom: 0;
            right: -100%;
            width: 100%;
        }

    }
}

main {
    header {
        @include _transition(all 0.3s);

        &.scrolling {
            position: fixed;
            width: 100%;
            background: #fff;
            top: 0;
            left: 70px; // depends on logo
            height: $navBarHeight;
            z-index: 12;

            h1 {
                font-size: 18px;
                margin: 13px 0 0 0;
                border: none;
                padding: 0;
            }

            @include respond-to(xs) {
                height: 59px; // 1px border
                left: 53px; // depends on logo
                width: calc(100% - 77px);

                h1 {
                    width: 80%;
                    font-size: 15px;
                    margin-top: 12px;
                    word-break: break-all;

                    @include _ellipsis-multiline(1, 20px);
                    
                    a.rss-link {
                        i {
                            font-size: 12px;
                        }
                    }
                }

                span.blog-name {
                    font-size: 8px;
                }
            }
        }

        /* Special content header */
        h1 {
            display: inline-block;
            margin-top: 3rem;
            margin-bottom: 1.5rem;

            font-weight: $fontWeightLight;
            color: $accent;
            border-bottom: solid 5px $lightGrey;

            font-size: 3rem;
            @include respond-to(from-sm) {
                font-size: 4rem;
            }
            @include respond-to(from-md) {
                font-size: 5rem;
            }

            a.rss-link {
                i {
                    font-size: 16px;
                    position: relative;
                    top: -1px;
                }
            }
        }

        span.blog-name {
            text-transform: uppercase;
            color: $darkGrey;
            font-size: 10px;
            font-weight: $fontWeightRegular;
            display: none;

            &.visible {
                display: block;
            }
        }
    }
}
