@mixin socials($height) {
    $iconMargin: 5px;
    $iconSize: #{$topbarHeight - $iconMargin * 2};

    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    
    margin: $iconMargin 0;
    padding: 0;

    > a {
        width: $iconSize;
        height: $iconSize;
        background: $textOnAccent;
        color: $accent;
        border-radius: 50%;
        font-size: 12px;
        display: block;
        text-align: center;
        margin-right: $iconMargin;

        > i {
            line-height: 1.0;
        }
    }
}