@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,400i,700&display=swap');

@import './_variables.scss';
@import './mixins/_responsive.scss';
@import './mixins/_container.scss';
@import './mixins/_socials.scss';
@import './mixins/_transition.scss';
@import './mixins/_fa_icon.scss';
@import './mixins/_transform.scss';
@import './mixins/_ellipsis-multiline.scss';
@import './partials/_grid.scss';
@import './partials/_header.scss';
@import './partials/_footer.scss';
@import './partials/_post-preview.scss';
@import './partials/_article.scss';
@import './partials/_seminary.scss';
@import './partials/_tables.scss';
@import './partials/_page-navigation.scss';

@import './pages/_homepage.scss';
@import './pages/_teachers.scss';
@import './pages/_bulletin-board.scss';

body {
    font-family: 'Source Sans Pro', sans-serif;

    font-weight: $fontWeightRegular;
    font-size: $fontSizeText;
    line-height: 1.8;

    padding: 0 !important;
    margin: 0 !important;

    b,
    strong {
        font-weight: $fontWeightBold;
    }

    &.blocked {
        overflow: hidden;
    }

    a {
        color: $accent;
        text-decoration: none;
        @include _transition(color 0.2s);

        &:active,
        &:focus,
        &:visited {
            text-decoration: none;
            color: $accent;
            outline: none;
        }

        &:hover {
            color: darken($accent, 20);
        }
    }

    div#page {
        display: grid;
        grid-template-columns: auto;
        grid-template-areas:
            "header"
            "main"
            "footer";
        grid-template-rows: auto 1fr auto;
        min-height: 100vh;
    }

    #header {
        grid-area: header;
    }

    #content {
        grid-area: main;

        @include respond-to(xs) {
            padding-top: 60px;
        }

        @include respond-to(from-sm) {
            padding-top: #{$navBarHeight + 30px};
        }
    }

    #footer {
        grid-area: footer;
    }

    .container {
        @include contain();
    }

    ul {
        margin: 0 0 0 10px;
        padding: 0 0 0 10px;
    }

    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6 {
        display: inline-block;
        font-weight: $fontWeightBold;
        margin-bottom: 0.5em;
        line-height: 1.6;

        > a {
            text-decoration: none;
            color: #000;
        }
    }

    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3 {
        border-bottom: solid 5px $accent;
    }

    h1,
    .h1 {
        font-size: $fontSizeText * 2;

        @include respond-to(from-sm) {
            font-size: $fontSizeText * 3;
        }
    }

    h2,
    .h2 {
        font-size: $fontSizeText * 1.5;

        @include respond-to(from-sm) {
            font-size: $fontSizeText * 2;
        }
    }
    
    h3,
    .h3 {
        font-size: $fontSizeText * 1.3;

        @include respond-to(from-sm) {
            font-size: $fontSizeText * 1.6;
        }
    }

    h4,
    .h4,
    h5,
    .h5 {
        font-size: $fontSizeText * 1.1;

        @include respond-to(from-sm) {
            font-size: $fontSizeText * 1.2;
        }
    }

    h6,
    .h6 {
        font-size: $fontSizeText;

        @include respond-to(from-sm) {
            font-size: $fontSizeText;
        }
    }


    div.post-info {
        color: $grey;
        font-size: 12px;
        >span {
            &.date {}

            &.author {}

            &.expiry {

            }
        }
    }

    iframe {
        max-width: 100%;
        margin: 20px auto;
        display: block;
    }

    .widget {
        margin: 0;
    }

    a.read-more {
        display: block;
        font-size: 12px;
    }

    .entry-content {
        word-break: break-word;
    }

    // Exams pages
    #t1, #t2, #t3 {
        padding-top: 80px;
    }
}
